<!DOCTYPE html>
<html>
<head>
  <style>{{{css}}}</style>
</head>
<body>
  <div class="report-container">
    <header>
      <h1>{{title}}</h1>
      <div class="metadata">
        <span>{{date}}</span>
        <span class="redact">{{classification}}</span>
      </div>
    </header>
    <main>
      {{#each sections}}
        <section>
          <h2>{{this.title}}</h2>
          <div>{{{this.content}}}</div>
        </section>
      {{/each}}
    </main>
    <footer>
      Page <span class="pageNumber"></span>
    </footer>
  </div>
</body>
</html>
